@model IEnumerable<gibson4200.Models.AppointmentDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prescriptionQuantityOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prescriptionQuantityOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentDetailID })
        </td>
    </tr>
}

</table>
